html, body { 
  padding: 0px;
  margin: 0px;

  background-color: rgb(201, 196, 196);
}

#container{
  position: relative;
  width: 100%;
  max-width: 600px;
}

canvas{
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 600px;
}


img{
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 0;
}